cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
ci-info==0.2.0
click==7.1.2
configobj==5.0.6
configparser==5.0.1
decorator==4.4.2
etelemetry==0.2.2
fastapi==0.62.0
filelock==3.0.12
fitz==0.0.1.dev2
future==0.18.2
gcloud==0.18.3
google-api-core==1.23.0
google-auth==1.23.0
google-cloud-core==1.4.3
google-cloud-storage==1.33.0
google-cloud-vision==2.0.0
google-crc32c==1.0.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
grpcio==1.33.2
h11==0.11.0
httplib2==0.18.1
idna==2.10
isodate==0.6.0
jws==0.1.3
libcst==0.3.14
lxml==4.6.1
mypy-extensions==0.4.3
networkx==2.5
nibabel==3.2.0
nipype==1.5.1
numpy==1.19.3
oauth2client==4.1.2
opencv-python==4.4.0.46
opencv-python-headless==4.4.0.46
packaging==20.4
pandas==1.1.4
passlib==1.7.4
pathlib==1.0.1
pikepdf==2.2.0
Pillow==8.0.1
proto-plus==1.11.0
protobuf==3.14.0
prov==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.9.9
pydantic==1.7.2
pydot==1.4.1
pydotplus==2.0.2
PyJWT==1.7.1
PyMuPDF==1.18.3
pyparsing==2.4.7
Pyrebase4==4.4.1
PySide2==5.15.1
pytesseract==0.3.6
python-barcode==0.13.1
python-dateutil==2.8.1
python-jwt==2.0.1
python-multipart==0.0.5
pytz==2020.4
pyxnat==1.4
PyYAML==5.3.1
rdflib==5.0.0
requests==2.25.0
requests-toolbelt==0.9.1
rsa==4.6
scipy==1.5.4
shiboken2==5.15.1
simplejson==3.17.2
six==1.15.0
starlette==0.13.6
traits==6.1.1
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.25.11
uvicorn==0.12.3
wincertstore==0.2
